nav {
	font-size: 1.5rem;
	background-color: #6ed91c !important;
	display: flex;
	justify-content: space-between;
}

nav .navbar-nav {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav .nav-item {
	position: relative;
	padding: 0 1.5rem;
}

nav .nav-item + .nav-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 20%;
	bottom: 20%;
	width: 2px;
	background-color: rgba(0, 0, 0, 0.5);
}

nav a:link,
nav a:active,
nav a:visited {
	text-decoration: none;
	color: #000000;
}

nav a:hover {
	color: #383636;
}

#logo {
	height: 10dvh;
}

.modal-fixed-30 {
	width: 30vw;
	max-width: 30vw;
}

.modal-fixed-30 .modal-content {
	height: 30vh;
	max-height: 30vh;
	margin: 0 auto;
}
