body {
	margin: 0;
	font-size: clamp(0.9rem, 2vw, 1.4rem); 

}

nav {
	font-size: 1.5rem;
	background-color: #e6473c;
	display: flex;
	justify-content: space-between;
}


nav a:link,
a:active,
a:visited {
	text-decoration: none;
	color: #000000;
}

nav a:hover {
	color: #383636;
}

#logo {
	height: 10dvh;

}

.container-main {
	height: 60dvh;
	position: relative;
	background-image: url(../images/auto_electrico.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 100%);	
	z-index: 0; 
}

.header-text {
	position: absolute;
	color: #ffffff;
	left: 1rem;
	bottom: 1rem;
	font-size: clamp(0.9rem, 2vw, 1.4rem); 
	line-height: 1.2;
	max-width: calc(100% - 2rem); 
	overflow-wrap: break-word;
	z-index: 1;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.introduction {
	padding-left: 15rem;
	padding-right: 15rem;
	padding-bottom: 5rem;
	padding-top: 5rem;
	text-align: center;
	line-height: 1.6;
	background-color: #383636;
	color: white;

}